    <li id="store -<%= store.id %>">
        <div class="store-information">
            <div class="store-name"><%= store.store %></div>
            <div class="store-address"><%= store.address %></div>
            <div class="store-price">Price: <strong>$<%=store.price %> </strong></div>
             <img class="store-picture" src="https://cdn-icons-png.flaticon.com/512/1529/1529713.png" alt="pharmacy icon">
        </div>
    </li>

